* {
  padding: 0;
  margin: 0;
}

.mainboard-container {
  background-color: #ffffff;
  border-radius: 2.5rem;
  padding: 3.6rem 4.8rem 8rem;
}

.top-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}

.crypto-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.crypto-image {
  width: 3rem;
  height: 3rem;
}

.crypto-name {
  font-size: 2.6rem;
  font-weight: bold;
}

.share-link-container {
  display: flex;
  gap: 2rem;
}

.share-link-container > img {
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  margin: 3.6rem 0 2.8rem;
}

.precondition-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.result-title {
  font-size: 4.8rem;
  font-weight: bold;
}

.increase-emphasize {
  color: #00a661;
}

.decrease-emphasize {
  color: #fd493d;
}

.base-date {
  font-size: 1.6rem;
  font-weight: 500;
  color: #616575;
}

.chart-wrapper {
  aspect-ratio: 2;
  max-width: 91rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

@media (max-width: 1199px) {
  .mainboard-container {
    padding: 0;
    background-color: inherit;
    border-radius: 0;
  }
}

@media (max-width: 767px) {
  .crypto-info {
    gap: 0.8rem;
  }

  .crypto-name {
    font-size: 2rem;
  }

  .crypto-image {
    width: 2.4rem;
    height: 2.4rem;
  }

  .share-link-container > img {
    width: 1.8rem;
    height: 1.8rem;
  }

  .title-container {
    margin: 3.2rem 0 4.8rem;
  }

  .precondition-title {
    font-size: 1.5rem;
  }

  .result-title {
    font-size: 3.2rem;
  }

  .base-date {
    font-size: 1.3rem;
  }

  .chart-wrapper {
    gap: 3rem;
  }
}
