* {
  font-size: 62.5%;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  margin: 0;
  padding: 0;
}

.body {
  background-color: #f5f8f9;
}

.market-price-table {
  height: 100%;
  max-width: fit-content;
  background-color: #ffffff;
  border-radius: 3rem;
  padding: 4rem;
}

.market-price-table-title {
  display: inline-block;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.coin-name-container {
  display: flex;
  align-items: center;
}

.coin-description {
  display: flex;
  flex-direction: column;
}

.coin-image {
  width: 3.2rem;
  margin-right: 1rem;
}

.coin-id {
  color: #616575;
  font-size: 1.5rem;
  font-weight: 500;
}

.coin-name,
.coin-price,
.total-volume,
.market-cap {
  color: #0b0e1b;
  font-size: 1.5rem;
  font-weight: 500;
}

.total-volume-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.coin-total-volume-container {
  font-size: 1.9rem;
  line-height: 1rem;
  font-weight: 400;
  color: #848898;
}

.coin-total-volume {
  margin-right: 0.3rem;
}

.coin-name {
  font-weight: 600;
}

.coin-symbol {
  color: #848898;
  font-size: 1.2rem;
}

.price-change-percentage {
  font-size: 2.4rem;
  font-weight: 600;
  width: 6.6rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
}

.negative {
  background-color: #f8eae7;
  color: #fd493d;
}

.positive {
  background-color: #daf1e5;
  color: #00a661;
}

.negative span {
  margin-left: -0.4rem;
}

.custom-header {
  height: 1rem;
  font-size: 10rem;
  font-weight: 600;
}
