.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.57px;
  height: 40px;
  width: 126px;
  border: 1px solid #ced2dd;
  border-radius: 15px;
  cursor: pointer;
  background-color: transparent;
}

.active {
  gap: 10px;
  border: 1px solid #00a661;
  background-color: #daf1e5;
  color: #00a661;
}

.button-name {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
