.gnb-container {
  background-color: #f5f8f9;
  padding: 0 5.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  margin: 0 auto;
  max-width: 192rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 32.9rem;
}

.select-currency {
  height: 4rem;
  width: 9rem;
  background-color: transparent;
  border: 0.1rem solid #ced2dd;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  font-size: 1.4rem;
  appearance: none;
  background: url('/src/assets/images/dropdownTriangle.svg') no-repeat right
    1.12rem center;
}

@media (max-width: 1199px) {
  .gnb-container {
    background-color: white;
    height: 9rem;
  }
}

@media (max-width: 767px) {
  .gnb-container {
    padding: 0 2.9rem;
  }

  .button-container {
    width: 20.8rem;
  }

  .select-currency {
    width: 5.9rem;
  }
}
