.modal-header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #e7e9f0;
  padding: 0 28px;
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  width: 73px;
}
