.main-container {
  display: flex;
  gap: 2.4rem;
  padding: 0 3.6rem 4.6rem;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  max-width: 137.9rem;
  width: 100%;
  min-width: 0;
}

@media (max-width: 1199px) {
  .main-container {
    padding: 0 3.6rem 10rem;
    flex-direction: column;
    gap: 6rem;
  }

  .row {
    gap: 8rem;
  }
}

@media (max-width: 767px) {
  .main-container {
    padding: 0 2rem 10rem;
    gap: 5.2rem;
  }
}
