@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html {
  font-size: 62.5%;
  font-family: 'Pretendard', sans-serif;
}

body {
  background-color: #f5f8f9;
}
